.navbar>.navbar-list {
    list-style-type: none;
    float: right;
    margin-top: 3.5rem;
}

.navbar-list>.navbar-item {
    display: inline-block;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-item a {
    text-decoration: none;
    margin-left: 2rem;
}

.sign-off>form>button {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 163, 218);
    height: 2rem;
    width: 10rem;
    position: relative;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    min-width: 10.3125rem;
    text-align: center;
    cursor: pointer;
    vertical-align: baseline;
    border-color: transparent;
    border-style: solid;
    border-radius: 1rem;
}

.search>input {
    width: 10rem;
    height: 1.5rem;
    color: rgb(161, 161, 161);
    cursor: pointer;
    margin-top: 2rem;
    border-color: rgb(161, 161, 161);
    border-style: solid;
    border-radius: 0.25rem;
    box-shadow: none;
}

.search>button {
    height: 1.5rem;
    color: rgb(161, 161, 161);
    border-radius: 0.25rem;
    border-color: rgb(161, 161, 161);
    border-style: solid;
    box-shadow: none;
}

@media (max-width:576px) {
    nav, form {
        display: none;
    }
}