.main {
  margin-top: var(--header-height);
  min-width: 320px;
}

.background-video {
  position: absolute;
  top: 5rem;
  right: 0rem;
  left: 0rem;
  height: 50vh;
  overflow: hidden;
  z-index: -1;
}

.video-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
}

.movie-header {
  padding: 0;
  margin-top: 2.5rem;
  padding: 2rem;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie-header ul {
  list-style: none;
  padding: 0;
}

.movie-header h1 {
  margin-top: var(--header-height);
}

.movie-header .meta {
  width: 50%;
  max-width: 250px;
  display: grid;
  grid-template-areas:
    "year    rating    time"
    "casting casting casting"
    "actions actions actions";
  grid-gap: 1rem;
}

.movie-header .meta [class*="meta-"] {
  background-color:  var(--brand-color);
  color: var(--text-color);
  padding: 0.25rem 0.75rem;
  text-align: center;
  border-radius: 1rem;
  font-size: 0.75rem;
  font-weight: 700;
}

.movie-header .meta .meta-year {
  grid-area: year;
}

.movie-header .meta .meta-rating {
  grid-area: rating;
}

.movie-header .meta .meta-time {
  grid-area: time;
}

.movie-header .meta .casting {
  grid-area: casting;
  font-size: 0.95rem;
  margin-bottom: 1rem;
}

.movie-header .meta .casting ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.movie-header .meta .actions {
  grid-area: actions;
  margin-top: 1rem 0;
}

.btn {
  border: 0;
  border-radius: var(--border-radius);
  background-color: var(--brand-color);
  text-decoration: none;
  padding: 0.75rem;
  font-size: 1rem;
}

.text p {
  margin: 5rem;
}

.related {
  margin-top: 0.5rem;
}

@media (min-width: 576px) {
  @media (min-width: 768px) {
  }
  @media (min-width: 992px) {
    .main section {
      display: grid;
      grid-template-areas:
        "header   header  header"
        "overview related related";
    }
  
    .movie-header {
      grid-area: header;
    }

    .movie-overview {
      grid-area: overview;
      padding: 5rem;
      margin: 0;
      background-color: rgba(0, 0, 0, 0.75);
    }

    .related {
      grid-area: related;
      background-color: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0.75)
      );
    }
  }

  @media (min-width: 1200px) {
    .info-card {
      width: 30%;
    }
  }
}




